@model File_Upload.ViewModels.HomeModel
@{
    
           
    ViewBag.Title = "Home";
    
}
<style>

    .btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
</style>
<div class="container-fluid">

<h2>Upload File</h2>

@using(Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
		 
    <div class="row">

        <div class="col-sm-8">
            <div class="form-group">
                <label>Upload from</label>

                <span class="btn btn-default">
                    <input type="file" name="file">
                </span>
            </div>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-info" type="submit" >Upload</button>
        </div>
    </div>  

}
</div>

<script>


</script>

